.mainBox{
  text-align: center;
  margin-top: 150px;
}
.buttonWrapper{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.footer{
  margin-top: 150px;
  text-align: center;
  margin-bottom: 70px;
}